@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  
}


html {
  font-family: var(--font-inter);
  scroll-behavior: smooth;

}
body {
  color: white;    
}

* {
  ::-webkit-scrollbar{
    display: none;
  }
  /* border: 1px solid white; */
}


@keyframes appear {
  from {
    opacity: 0;
    translate: 100vw 0;
  }
  
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes appearReverse {
  from {
    opacity: 0;
    translate: -100vw 0;
  }
  
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }

  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}






@layer utilities {
  .bgTextColor {
    background: var(--brand-gradient-horizontal, linear-gradient(90deg, #9955E8 10%, #7BFFAF 50%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .apear{
    animation: appear 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
  }
  .apearReverse{
    animation: appearReverse 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
  }
  .reval{
    animation: reveal 1ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 25% cover 50%;
  }
  
}
div,section{
  width: 1440px;
  @media (max-width: 1440px) {
    width: 100%;
  }
}