@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  
}

html {
  font-family: var(--font-inter);
}

* {
  /* border: 2px solid white; */

  ::-webkit-scrollbar{
    display: none;

  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

color: white;    

}

@layer utilities {
  .bgTextColor {
    background: var(--brand-gradient-horizontal, linear-gradient(90deg, #9955E8 10%, #7BFFAF 50%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
div,section{
  width: 1440px;
  @media (max-wdith:1440px) {
    width: 100%;
  }
}